body{
  background-image: url("http://more-sky.com/data/out/7/IMG_147607.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#header{
  font-size: 80%;
  color: white;
  width: 40%;
  text-align: center;
  margin: auto;
  font-family: Caveat Brush;
  float: left;
  letter-spacing: 0.1em;
}

#display{
  border: 1px solid black;
  float: right;
  width: 50%;
  height: 470px;
  margin: 1% 4%;
  background-color: rgba(54, 25, 25, .5);
}

#image{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 2% 0% 0% 2%;
  background-color: white;
  opacity: 1;
  float: left;
}

#basic_info{
  height: 200px;
  min-width: 330px;
  margin: 2% 2% 0% 2%;
  border: 2px solid white;
  float: right;
  color: white;
  font-family: Caveat Brush;
}

#top{
  height: 230px;
  border: 1px solid red;
}

#bottom{
  height: 230px;
  margin: 2% 0% 0% 0%;
  border: 1px solid black;
  color: white;
  font-family: Caveat Brush;
}

#stats{
  border: 1px solid pink;
}

#moves{
  border: 1px solid yellow;
  float: right;
  color: white;
  font-family: Caveat Brush;
  width: 63%;
}

#statistics{
  color: white;
  font-family: Caveat Brush;
  float: left;
  width: 35%;
  border: 1px solid blue;
}